<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SellPhones", "Main", "Admin", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <form class="navbar-form navbar-left hidden-sm hidden-xs" role="search" style="margin-left:490px">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn" style="background-color:#080808;color:#46ea16">Search</button>
                </form>
                <ul class="nav navbar-nav pull-right">
                    @*<li>@Html.ActionLink("My Account", "Account", "Admin")</li>*@
                    <li>@Html.ActionLink("Logout", "Logout", "Admin")</li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="col-md-3 col-xs-12 col-sm-12" style="margin-top:20px;background-color:black">

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse" style="background-color:black">
                    <ul class="nav" id="side-menu">

                        <li>@Html.ActionLink("Dashbord", "Main", "Admin")</li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Update Options <span class="caret"></span></a>
                            <ul class="list-unstyled dropdown-menu">
                                <li class="list-unstyled">@Html.ActionLink("Add Product", "AddProduct", "Admin")</li>
                                <li class="list-unstyled">@Html.ActionLink("Update Product", "UpdateAndDelete", "Admin")</li>
                                <li class="list-unstyled">@Html.ActionLink("Delete Product", "UpdateAndDelete", "Admin")</li>
                            </ul>
                        </li>
                        <li class="list-unstyled">@Html.ActionLink("Products", "viewProducts", "Admin")</li>
                        <li class="list-unstyled">@Html.ActionLink("Members", "viewMembers", "Admin")</li>
                        <li class="list-unstyled">@Html.ActionLink("Order Details", "viewOrders", "Admin")</li>
                        @*<li class="list-unstyled">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Brands <span class="caret"></span></a>
                            <ul class="list-unstyled dropdown-menu">
                                <li>@Html.ActionLink("Add Brand", "AddBrand", "Admin")</li>
                                <li>@Html.ActionLink("Update Brand", "UpdateAndDeleteBrand", "Admin")</li>
                                <li>@Html.ActionLink("Delete Brand", "UpdateAndDeleteBrand", "Admin")</li>
                            </ul>
                            
                        </li>*@
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
        </div>
        <div class="col-md-9">

            @RenderBody()
        </div>

        <hr />
        <footer>
            <div id="footer">
                <p>
                    &copy; @DateTime.Now.Year - All rights reserved<br />
                    Designed by Mutaher Raza BSEF12M001
                </p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
